<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dudgkr.line.db.model.friends.mapper.FriendsMapper">

    <insert id="addFriend" parameterType="FriendsDto">
        INSERT INTO friends (user_id, friend_id, status) VALUES (#{user_id}, #{friend_id}, 'pending');
    </insert>


    <select id="friendsList" parameterType="FriendsDto" resultType="UserDto">
        SELECT u.id, u.name, u.phone
        FROM users u
                 JOIN friends f ON (u.id = f.friend_id OR u.id = f.user_id)
        WHERE (f.friend_id = #{user_id} OR f.user_id = #{user_id})
          AND f.status = 'accepted'
          AND u.id != #{user_id}
    </select>

    <update id="accept" parameterType="FriendsDto">
        UPDATE friends SET status = 'accepted' WHERE user_id = #{user_id} AND friend_id = #{friend_id};
    </update>


    <!-- 자신에게 온 친구요청 조회-->
    <select id="sentFriendRequests" parameterType="FriendsDto" resultType="UserDto">
        SELECT u.id, u.name, u.phone
        FROM users u
                 JOIN friends f ON u.id = f.friend_id
        WHERE f.user_id = #{user_id}
          AND f.status = 'pending'
    </select>


    <!-- 자신이 보낸 친구 요청 조회-->
    <select id="receivedFriendRequests" parameterType="FriendsDto" resultType="UserDto">
        SELECT u.id, u.name, u.phone
        FROM users u
                 JOIN friends f ON u.id = f.user_id
        WHERE f.friend_id = #{user_id}
          AND f.status = 'pending'
    </select>
</mapper>
