<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dudgkr.line.db.model.messages.mapper.MessagesMapper">

    <insert id="saveMessage" parameterType="MessagesDto">
        INSERT INTO messages (senderName, targetUserName, message, timestamp, read_status)
        VALUES (#{senderName}, #{targetUserName}, #{message}, NOW(), FALSE);
    </insert>


    <select id="fetchMessage" parameterType="MessagesDto" resultMap="MessagesResultMap">
        SELECT message_id, senderName, targetUserName, message, timestamp, read_status
        FROM messages
        WHERE (senderName = #{senderName} AND targetUserName = #{targetUserName})
           OR (senderName = #{targetUserName} AND targetUserName = #{senderName})
        ORDER BY timestamp ASC;
    </select>

    <resultMap id="MessagesResultMap" type="MessagesDto">
        <id property="message_id" column="message_id"/>
        <result property="senderName" column="senderName"/>
        <result property="targetUserName" column="targetUserName"/>
        <result property="message" column="message"/>
        <result property="timestamp" column="timestamp"/>
        <result property="read_status" column="read_status"/>
    </resultMap>


    <!-- 각 채팅방 별로 가장 최근 메시지 가져오기-->
    <select id="fetchLatestMessagePerChatRoom" parameterType="UserDto" resultType="MessagesDto">
        SELECT
            m.message_id,
            m.senderName,
            m.targetUserName,
            m.message,
            m.timestamp,
            m.read_status,
            u.name AS targetUserNameName
        FROM messages m
                 LEFT JOIN users u ON m.targetUserName = u.id
        WHERE m.message_id IN (
            SELECT MAX(message_id)
            FROM messages
            WHERE senderName = #{id} OR targetUserName = #{id}
            GROUP BY CASE
                         WHEN senderName = #{id} THEN targetUserName
                         ELSE senderName
                         END
        )
        ORDER BY m.timestamp DESC;
    </select>

</mapper>
